 body {
	background-color: rgba(241, 239, 245, 0.581);
	color: black;
	width: 100%;
} 
   /* nav ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(244, 244, 249);

}  */

/* li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
} */

/* li a:hover{
	background-color: powderblue;
}*/
/* body p {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align: center;
} */

/*h1{
	text-align: center;
} */

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #e3e8f3;
	box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}

.navbar ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar li{
	list-style: none;
	padding: 0 20px;
}

.navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600px;
	color: #1e0442;
	transition: 0.3s ease;

}
.navbar li a:hover,
.navbar li a:active{
	color: #088178;
}

.offer-display{
	background-image: url("images/image2.jpeg");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: 25px right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.offer-display h1{
	color: #088178;
}