body {
	background-color: rgba(241, 239, 245, 0.581);
	color: black;
	background-image: url('./images/WhatsApp\ Image\ 2022-11-24\ at\ 22.22.53.jpeg')
}
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(244, 244, 249);

}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: powderblue;
}
body p {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align: center;
}

h1{
	text-align: center;
}
